{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/getting-started/introduction/" | relURL }}" role="button">Get started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Easy Installation</h2>
        <p>Install the GitHub Application on all of your repos with the click of a button.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Fast by default ⚡️</h2>
        <p>We have optimized our system to run tasks faster than our competitors.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Centralized Configuration</h2>
        <p>Configure tasks in one centralized location. Enforce standards across your organization or provide sane defaults which can be overridden.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Faster Development</h2>
        <p>Spend less time creating and configuring CI tasks and more time devopling business products.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">No queueing</h2>
        <p>We scale to meet your demand. No more waiting for tasks in a queue to execute.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Maintenance Free</h2>
        <p>Set up the tasks and forget them. We handle all task development and troubleshooting eliminating your CI maintenance costs.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
